<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>TestNG Report</title>
<style type="text/css">table {margin-bottom:10px;border-collapse:collapse;empty-cells:show}th,td {border:1px solid #009;padding:.25em .5em}th {vertical-align:bottom}td {vertical-align:top}table a {font-weight:bold}.stripe td {background-color: #E6EBF9}.num {text-align:right}.passedodd td {background-color: #3F3}.passedeven td {background-color: #0A0}.skippedodd td {background-color: #DDD}.skippedeven td {background-color: #CCC}.failedodd td,.attn {background-color: #F33}.failedeven td,.stripe .attn {background-color: #D00}.stacktrace {white-space:pre;font-family:monospace}.totop {font-size:85%;text-align:center;border-bottom:2px solid #000}.invisible {display:none}</style>
</head>
<body>
<table>
<tr><th>Test</th><th># Passed</th><th># Skipped</th><th># Failed</th><th>Time (ms)</th><th>Included Groups</th><th>Excluded Groups</th></tr>
<tr><th colspan="7">Suite2Customeraccountnew3</th></tr>
<tr><th colspan="7">Suite1</th></tr>
<tr><td><a href="#t0">Test2</a></td><td class="num">1</td><td class="num attn">1</td><td class="num attn">1</td><td class="num">76,903</td><td></td><td></td></tr>
<tr class="stripe"><td><a href="#t1">Test3</a></td><td class="num">2</td><td class="num">0</td><td class="num">0</td><td class="num">27,961</td><td></td><td></td></tr>
<tr><th colspan="7">Suite2</th></tr>
<tr><td><a href="#t2">Test3</a></td><td class="num">3</td><td class="num">0</td><td class="num">0</td><td class="num">38,299</td><td></td><td></td></tr>
<tr class="stripe"><td><a href="#t3">Test4</a></td><td class="num">2</td><td class="num">0</td><td class="num">0</td><td class="num">18,574</td><td></td><td></td></tr>
<tr><th>Total</th><th class="num">8</th><th class="num attn">1</th><th class="num attn">1</th><th class="num">161,737</th><th colspan="2"></th></tr>
</table>
<table id='summary'><thead><tr><th>Class</th><th>Method</th><th>Start</th><th>Time (ms)</th></tr></thead><tbody><tr><th colspan="4">Suite2Customeraccountnew3</th></tr></tbody><tbody><tr><th colspan="4">Suite1</th></tr></tbody><tbody id="t0"><tr><th colspan="4">Test2 &#8212; failed</th></tr><tr class="failedeven"><td rowspan="1">testcase.Bankmanager.Bankmanageraddcustomer4</td><td><a href="#m0">AddManagerTest</a></td><td rowspan="1">1791296871229</td><td rowspan="1">51677</td></tr><tr><th colspan="4">Test2 &#8212; skipped</th></tr><tr class="skippedeven"><td rowspan="1">testcase.Bankmanager.Bankmanageraddcustomer4</td><td><a href="#m1">AddManagerTest</a></td><td rowspan="1">1791296870962</td><td rowspan="1">240</td></tr><tr><th colspan="4">Test2 &#8212; passed</th></tr><tr class="passedeven"><td rowspan="1">testcase.Bankmanager.Bankmanageraddcustomer4</td><td><a href="#m2">AddManagerTest</a></td><td rowspan="1">1791296857316</td><td rowspan="1">12909</td></tr></tbody>
<tbody id="t1"><tr><th colspan="4">Test3 &#8212; passed</th></tr><tr class="passedeven"><td rowspan="2">testcase.Bankmanager.AddCustomer</td><td><a href="#m3">BankManagerTest</a></td><td rowspan="2">1791296939186</td><td rowspan="2">18792</td></tr><tr class="passedeven"><td><a href="#m4">BankManagerTest</a></td></tr></tbody>
<tbody><tr><th colspan="4">Suite2</th></tr></tbody><tbody id="t2"><tr><th colspan="4">Test3 &#8212; passed</th></tr><tr class="passedeven"><td rowspan="3">testcase.Customer.Customeraccountnew</td><td><a href="#m5">DespoiteTest</a></td><td rowspan="3">1791296959917</td><td rowspan="3">8914</td></tr><tr class="passedeven"><td><a href="#m6">DespoiteTest</a></td></tr><tr class="passedeven"><td><a href="#m7">DespoiteTest</a></td></tr></tbody>
<tbody id="t3"><tr><th colspan="4">Test4 &#8212; passed</th></tr><tr class="passedeven"><td rowspan="2">testcase.Customer.Customerwithdraw</td><td><a href="#m8">WithdrawnTest</a></td><td rowspan="2">1791297008672</td><td rowspan="2">7541</td></tr><tr class="passedeven"><td><a href="#m9">WithdrawnTest</a></td></tr></tbody>
</table>
<h2>Test2</h2><h3 id="m0">testcase.Bankmanager.Bankmanageraddcustomer4#AddManagerTest</h3><table class="result"><tr class="param"><th>Parameter #1</th></tr><tr class="param stripe"><td>{browser=firefox, postcode=545353.0, lastname=Chan, runmode=Y, firstname=GOGO}</td></tr><tr><th>Exception</th></tr><tr><td><div class="stacktrace">java.lang.AssertionError: Error {
  message=&apos;Timeout 30000ms exceeded.
=========================== logs ===========================
waiting for selector &quot;button[ng-click=&apos;addCust()&apos;]&quot;
  selector resolved to visible &lt;button ng-class=&quot;btnClass1&quot; ng-click=&quot;addCust()&quot; class=…&gt;…&lt;/button&gt;
attempting click action
  waiting for element to be visible, enabled and stable
============================================================
  name=&apos;TimeoutError
  stack=&apos;TimeoutError: Timeout 30000ms exceeded.
=========================== logs ===========================
waiting for selector &quot;button[ng-click=&apos;addCust()&apos;]&quot;
  selector resolved to visible &lt;button ng-class=&quot;btnClass1&quot; ng-click=&quot;addCust()&quot; class=…&gt;…&lt;/button&gt;
attempting click action
  waiting for element to be visible, enabled and stable
============================================================
    at ProgressController.run (C:\Users\cecilia\AppData\Local\Temp\playwright-java-467686592649004107\package\lib\server\progress.js:96:26)
    at Frame.click (C:\Users\cecilia\AppData\Local\Temp\playwright-java-467686592649004107\package\lib\server\frames.js:1197:23)
    at FrameDispatcher.click (C:\Users\cecilia\AppData\Local\Temp\playwright-java-467686592649004107\package\lib\server\dispatchers\frameDispatcher.js:173:30)
    at DispatcherConnection.dispatch (C:\Users\cecilia\AppData\Local\Temp\playwright-java-467686592649004107\package\lib\server\dispatchers\dispatcher.js:397:46)
}
	at base.BaseTest.clickkey(BaseTest.java:98)
	at testcase.Bankmanager.Bankmanageraddcustomer4.AddManagerTest(Bankmanageraddcustomer4.java:24)
... Removed 25 stack frames</div></td></tr></table><p class="totop"><a href="#summary">back to summary</a></p>
<h3 id="m1">testcase.Bankmanager.Bankmanageraddcustomer4#AddManagerTest</h3><table class="result"><tr class="param"><th>Parameter #1</th></tr><tr class="param stripe"><td>{browser=chrome, postcode=234242.0, lastname=Sze, runmode=N, firstname=Many}</td></tr><tr><th>Exception</th></tr><tr><td><div class="stacktrace">org.testng.SkipException: Suite name, Test case name or Data runmode is not runnable
	at utilities.DataUtilities.ischeckRunnable(DataUtilities.java:81)
	at testcase.Bankmanager.Bankmanageraddcustomer4.AddManagerTest(Bankmanageraddcustomer4.java:20)
... Removed 24 stack frames</div></td></tr></table><p class="totop"><a href="#summary">back to summary</a></p>
<h3 id="m2">testcase.Bankmanager.Bankmanageraddcustomer4#AddManagerTest</h3><table class="result"><tr class="param"><th>Parameter #1</th></tr><tr class="param stripe"><td>{browser=chrome, postcode=2.345543534E9, lastname=Ming, runmode=Y, firstname=Cecilia}</td></tr></table><p class="totop"><a href="#summary">back to summary</a></p>
<h2>Test3</h2><h3 id="m3">testcase.Bankmanager.AddCustomer#BankManagerTest</h3><table class="result"><tr class="param"><th>Parameter #1</th></tr><tr class="param stripe"><td>{currency=Pound, browser=firefox, runmode=Y, customer=Ron Weasly}</td></tr></table><p class="totop"><a href="#summary">back to summary</a></p>
<h3 id="m4">testcase.Bankmanager.AddCustomer#BankManagerTest</h3><table class="result"><tr class="param"><th>Parameter #1</th></tr><tr class="param stripe"><td>{currency=Dollar, browser=chrome, runmode=Y, customer=Harry Potter}</td></tr></table><p class="totop"><a href="#summary">back to summary</a></p>
<h2>Test3</h2><h3 id="m5">testcase.Customer.Customeraccountnew#DespoiteTest</h3><table class="result"><tr class="param"><th>Parameter #1</th></tr><tr class="param stripe"><td>{browser=chrome, name=Hermoine Granger, runmode=Y, add=4000.0}</td></tr></table><p class="totop"><a href="#summary">back to summary</a></p>
<h3 id="m6">testcase.Customer.Customeraccountnew#DespoiteTest</h3><table class="result"><tr class="param"><th>Parameter #1</th></tr><tr class="param stripe"><td>{browser=chrome, name=Harry Potter, runmode=Y, add=9000.0}</td></tr></table><p class="totop"><a href="#summary">back to summary</a></p>
<h3 id="m7">testcase.Customer.Customeraccountnew#DespoiteTest</h3><table class="result"><tr class="param"><th>Parameter #1</th></tr><tr class="param stripe"><td>{browser=firefox, name=Neville Longbottom, runmode=Y, add=300.0}</td></tr></table><p class="totop"><a href="#summary">back to summary</a></p>
<h2>Test4</h2><h3 id="m8">testcase.Customer.Customerwithdraw#WithdrawnTest</h3><table class="result"><tr class="param"><th>Parameter #1</th></tr><tr class="param stripe"><td>{browser=chrome, withdraw=200.0, name=Harry Potter, runmode=Y}</td></tr></table><p class="totop"><a href="#summary">back to summary</a></p>
<h3 id="m9">testcase.Customer.Customerwithdraw#WithdrawnTest</h3><table class="result"><tr class="param"><th>Parameter #1</th></tr><tr class="param stripe"><td>{browser=chrome, withdraw=300.0, name=Neville Longbottom, runmode=Y}</td></tr></table><p class="totop"><a href="#summary">back to summary</a></p>
</body>
</html>
